<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table>
    <tbody>

    <tr>
        <th>選択</th>
        <th>first_name</th>
        <th>last_name</th>
    </tr>

      {% for row in rows %}
        <tr>
          <!-- レコード番号を表示 -->
<!--        <td>{{ loop.index + pagination.skip }}</td>-->
            <td><input type="checkbox" value="{{ row.index }}"></td>
            <td>{{ row.index }}</td>
            <td>{{ row.first_name }}</td>
            <td>{{ row.last_name }}</td>
            <td><a href="/edit/{{ row.index }}"  class="button">編集</a></td>



        </tr>
      {% endfor %}

    </tbody>
  </table>

  <!-- ページネーションを中央揃えで表示 -->
  <div style="text-align: center;">
    {{ pagination.links }}
  </div>


</body>
</html>